<ng-container>
    <!--toolbar-->
    <mat-toolbar color="primary" class="example-header">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span><img src="/assets/Logo.jpg" alt="logo"></span>
        <div class="uk-width-expand"></div>
        <input matInput placeholder=" Search" type="search">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
        <div class="example-button-container">
            <button mat-icon-button>
              <mat-icon routerLink="/admin/profile">account_circle</mat-icon>
            </button>
          </div>
        <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    </mat-toolbar>
    <!--end toolbar-->

    <!--sidenav-->
    <mat-sidenav-container class="admin-container">
    
      <mat-sidenav 
      #sidenav mode="side" 
      [position]="'start'" 
      opened class="sidenav-left"
      [fixedInViewport]="true" 
      [fixedTopGap]="60"
      [fixedBottomGap]="0">
    
    <mat-nav-list>
        <mat-list-item routerLink="/admin/home">
            <mat-icon matListIcon>home</mat-icon>
            <h3 matLine>Beranda</h3>
        </mat-list-item>
        <mat-list-item routerLink="/admin/profile">
            <mat-icon matListIcon>person_outline</mat-icon>
            <h3 matLine>Profile</h3>
        </mat-list-item>
        <mat-list-item routerLink="/admin/dashboard">
            <mat-icon matListIcon>collections_bookmark</mat-icon>
            <h3 matLine>Buku Favorite</h3>
        </mat-list-item>
        <mat-list-item routerLink="/admin/pinjam">
            <mat-icon matListIcon>menu_book</mat-icon>
            <h3 matLine>Pinjam Buku</h3>
        </mat-list-item>
    </mat-nav-list>
    
    </mat-sidenav>
    
    <mat-sidenav #sidenav mode="side" [position]="'end'"  class="example-sidenav"
    [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="0">
    
       
    
    </mat-sidenav>
    <!--sidenav content-->
    <mat-sidenav-content style="padding: 20px; background-color: #ccc;">
    <!--halaman-halaman tampil disini-->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <!--end sidenav content-->
    </mat-sidenav-container>   
    </ng-container>

