<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport"  style="background-image: url('assets/bg.jpg'); background-size: cover; background-position: center;">
    <mat-card class="uk-width-1-3@m">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <img src="/assets/get.jpg" alt="logo">
        </div>
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <button mat-raised-button color="primary" routerLink="/login">Get Started</button>
        </div>
    </mat-card>
</div>

    